:root {
    --dark: #323437;
    --white: #fff;
    --primaryColor: #FFC100;
    --black: #000;
    --blue: #476AD2;
}


.light-theme {
    --bg: var(--white);
    --color: var(--black);
}

.dark-theme {
    --bg: var(--dark);
    --color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background: var(--bg);
    font-family: 'JetBrains Mono';
    color: var(--color);
}

#theme-switch {
    position: fixed;
    transition: background 0.3s ease;
    background: url("../images/sun.png") no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    bottom: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
}